.ciudad, .idioma{
    background: rgb(19, 103, 168);
    background: rgba(19, 103, 168, 0.8);
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px 0;
    text-align: center;
    width: 300px;
}

.ciudad:nth-child(odd), .idioma:nth-child(odd){
    background: rgb(0, 153, 255); 
    background: rgba(0, 153, 255, 0.8);    
}

.ciudad:hover, .idioma:hover{
    background: rgb(19, 103, 168);    
}

.ciudad:nth-child(odd):hover, .idioma:nth-child(odd):hover{
    background: rgb(0, 153, 255);     
}